<h2>You can add a new hot dog on this page</h2>

<p><%= infomessage %></p>


     
     <label>Name</label><br>
     <input type="text" name="hotDogName" id="hotDogName" pattern="[A-za-z\s]{3,}" required><br>
	 <label>Price</label><br>
     <input type="number" name="hotDogPrice" id="hotDogPrice" required><br>
     <label>Description</label><br>
     <textarea name="hotDogDescription" id="hotDogDescription" rows="10" cols="43" placeholder="Please, describe the hot dog." required></textarea><br>
          
     <button class="submitBtn" onclick="addHotdog()">Add Hot Dog</button><br>
    